# Danh sách các thư viện cần thiết cho Web Data Connector
# Chạy lệnh: pip install -r requirements.txt
# luôn cài phiên bản mới nhất của các thư viện này

Flask
requests
Werkzeug

# Thư viện kết nối SQL Server
pyodbc
pymssql
